{% extends 'base/base.html'%}
{% load static %}
{% block head_list %}
<script src="{% static 'VistaLogistica/js/list.js' %}"></script>
{% endblock head_list %}
{% block page_content %}
<style>
    .table-container {
        overflow-x: auto;
        width: 100%;
    }

    .table {
        min-width: 600px;
        /* Ajusta el ancho mínimo según tus necesidades */
    }
</style>
<form id="Solicitudes" method="post">
    <div class="card-body">
        <div class="row">
            <!--Columna izquierda: Formulario principal-->
            <div class="col-lg-7" style="padding-right: 1px; padding-left: 18px;">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row col-sm-12 mt-3">
                            <div class="col col-sm-6 mt-3">
                                <h3 class="card-title">
                                    {% if user.is_head_of_area %}
                                    <i class="fas fa-boxes"></i> {{title}}: {{user.departamento}}
                                    {% else %}
                                    <i class="fas fa-boxes"></i> {{title}}
                                    {% endif %}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body">
                        <table class="table table-bordered" id="tblContabilizados">
                            <thead>
                                <tr>
                                    <th style="width: 5%;">#</th>
                                    <th style="width: 5%;">Nro.</th>
                                    <th style="width: 20%;">Serie</th>
                                    <th style="width: 25%;">Solicitante</th>
                                    <th style="width: 20%;">Monto</th>
                                    <th style="width: 10%;">Seleccionar</th>
                                    <th style="width: 15%;">Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Columna derecha: Formularios de productos y servicios-->
            <div class="col-lg-5">
                <!-- Formulario de Productos-->
                <form id="FormularioProductos">
                    <div class="card card-secondary mb-4" style="border-right-width: 7px;">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-boxes"></i> Nueva Orden Productos:
                            </h3>
                        </div>
                        <div class="card card-body">
                            <div class="form-group row">
                                <div class="col-sm-5">Nombre del Solicitante: </div>
                                <div class="col-sm-7">
                                    <input type="text" readonly="true" class="form-control form-control-user"
                                        value="{{user.first_name}}" id="NombreSolicitanteProductos">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">Selección de Proveedor: </div>
                                <div class="col-sm-7">
                                    <select class="form-select form-select-solid" data-control="select2" name="SelectProveedor" id="SelectProveedorProductos"
                                        data-placeholder="Seleccione un Proveedor" required data-hide-search="true">
                                        <option></option>
                                        {% for socio in socio_negocio %}
                                        <option>{{socio.CardCode}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <table class="table table-bordered" id="tblOrdenProd">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">Eliminar</th>
                                        <th style="width: 20%;">Cod. Item</th>
                                        <th style="width: 20%;">LineVendor</th>
                                        <th style="width: 20%;">Descripción</th>
                                        <th style="width: 15%;">Cantidad</th>
                                        <th style="width: 15%;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="card card-footer">
                            <button id="btnGuardarProductos" type="button" class="btn btn-success btn-flat">
                                <i class="fas fa-save"></i> Guardar registro
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Formulario de Servicios-->
                <form id="FormularioServicios" method="post">
                    <div class="card card-secondary" style="border-right-width: 7px;">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-toolbox"></i> Nueva Orden Servicios:
                            </h3>
                        </div>
                        <div class="card card-body">
                            <div class="form-group row">
                                <div class="col-sm-5">Nro. Correlativo: </div>
                                <div class="col-sm-7">
                                    <input type="text" readonly="true" class="form-control form-control-user"
                                        value="1" id="nroCorrelativo" name="nroCorrelativo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">Nombre del Solicitante: </div>
                                <div class="col-sm-7">
                                    <input type="text" readonly="true" class="form-control form-control-user"
                                        value="{{user.first_name}}" id="NombreSolicitanteServicios">
                                </div>
                            </div>
                            <table class="table table-bordered" id="tblOrdenServ">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">Eliminar</th>
                                        <th style="width: 20%;">Cod. Item</th>
                                        <th style="width: 20%;">LineVendor</th>
                                        <th style="width: 20%;">Descripción</th>
                                        <th style="width: 15%;">Cantidad</th>
                                        <th style="width: 15%;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="card card-footer">
                            <button id="btnGuardarServicios" type="button" class="btn btn-success btn-flat">
                                <i class="fas fa-save"></i> Guardar registro
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modalDetallesContabilizados" tabindex="-1" role="dialog"
    aria-labelledby="modalDetallesLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width: 90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetallesLabel">Detalles de Solicitud: <span class="text"
                        id="idSolicitud"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
                <div class="card shadow-sm">
                    <div id="kt_card_detalle_solicitud" class="collapse show">
                        <div class="card-body">
                            <div class="form-group row">
                                <!-- Campo oculto -->
                                <label type="text" aria-readonly="true" id="InputDocEntry"
                                    class="form-control form-control-user" style="text-align:right;"
                                    hidden></label>

                                <!-- Primera fila -->
                                <div class="row mb-5" style="margin-top: 15px;">
                                    <div class="col-sm-4">
                                        <label for="detallesDocNum" id="lblDetDocNum" class="col-sm-3 col-form-label d-inline-block" style="width: 170px;">Número de Documento:</label>
                                        <label type="text" aria-readonly="true" id="detallesDocNum" class="form-control form-control-solid d-inline-block" style="text-align:right;"></label>
                                    </div>
                                    {% comment %} <div id="url-nomSerie" data-url="{% url 'erp:obtener_nombre_serie' %}"></div> {% endcomment %}
                                    <div class="col-sm-4">
                                        <label for="detalleSerie" class="col-sm-3 col-form-label d-inline-block">Serie:</label>
                                        <label type="text" aria-readonly="true" id="detalleSerie" class="form-control form-control-solid d-inline-block" style="text-align:right;"></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="detallesDocStatus" id="lblDocStatus" class="col-sm-3 col-form-label d-inline-block" style="width: 170px;">Estado de Documento:</label>
                                        <label type="text" aria-readonly="true" id="detallesDocStatus" class="form-control form-control-solid d-inline-block" style="text-align:right;"></label>
                                    </div>
                                </div>

                                <!-- Tercera fila -->
                                <div class="col-sm-6" style="margin-top: 30px">
                                    <div class="row mb-5">
                                        <label for="detallesDocDate" id="lblDocDate"
                                            class="col-sm-3 col-form-label d-inline-block" style="width: 167.5px;">Fecha del Documento:</label>
                                            <label type="text" aria-readonly="true" id="detallesDocDate"
                                                class="form-control form-control-solid"
                                                style="text-align:right;width: 427.6px;"></label>
                                    </div>
                                </div>

                                <!-- Cuarta fila -->
                                <div class="col-sm-6"  style="margin-top: 27px">
                                    <div class="row mb-5">
                                        <label for="detallesDocDueDate" id="lblDueDate"
                                            class="col-sm-3 col-form-label d-inline-block" style="width: 167.5px;">Fecha de vencimiento:</label>
                                            <label type="text" aria-readonly="true" id="detallesDocDueDate"
                                                class="form-control form-control-solid"
                                                style="text-align:right;width: 427.6px;"></label>
                                    </div>
                                </div>

                                <!-- Quinta fila -->
                                <div class="row g-5 g-xl-8" style="margin-top: 1px">
                                    <div class="col-sm-4">
                                        <div class="row mb-5">
                                            <label for="detallesMoneda" id="lblMoneda"
                                                class="col-sm-3 col-form-label">Moneda:</label>
                                            <div class="col-sm-9">
                                                <label type="text" aria-readonly="true" id="detallesMoneda"
                                                    class="form-control form-control-solid"
                                                    style="text-align:left;"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="row mb-5">
                                            <label for="detallesTaxCode" id="lblTaxCode"
                                                class="col-sm-3 col-form-label">Impuesto:</label>
                                            <div class="col-sm-9">
                                                <label type="text" aria-readonly="true" id="detallesTaxCode"
                                                    class="form-control form-control-solid"
                                                    style="text-align:left;"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="row mb-5">
                                            <label for="detallesDocType" id="lblDocType"
                                                class="col-sm-3 col-form-label">Tipo:</label>
                                            <div class="col-sm-9">
                                                <label type="text" aria-readonly="true" id="detallesDocType"
                                                    class="form-control form-control-solid"
                                                    style="text-align:left;"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Sexta fila - Totales -->
                                <div class="row g-5 g-xl-8"  style="margin-top: 1px">
                                    <div class="col-sm-6">
                                        <!-- Columna vacía -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row mb-5">
                                            <label for="detallesTotal" id="lblTotal"
                                                class="col-sm-5 col-form-label">Total:</label>
                                            <div class="col-sm-7">
                                                <label type="text" aria-readonly="true" id="detallesTotal"
                                                    class="form-control form-control-solid"
                                                    style="text-align:right;"></label>
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <label for="detallesTotalImp" id="lblTotalImp"
                                                class="col-sm-5 col-form-label">Total con impuestos:</label>
                                            <div class="col-sm-7">
                                                <label type="text" aria-readonly="true" id="detallesTotalImp"
                                                    class="form-control form-control-solid"
                                                    style="text-align:right;"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Usuario Solicitante -->
                                <h3 class="card-title align-items-start flex-column mb-5" style="margin-top: 1px">
                                    <span class="card-label fw-bold text-dark">Usuario Solicitante</span>
                                </h3>

                                <div class="row g-5 g-xl-8" style="margin-top: 1px">
                                    <div class="col-sm-6">
                                        <div class="row mb-5">
                                            <label for="detallesReqIdUser" id="lblReqIdUser"
                                                class="col-sm-3 col-form-label">Usuario:</label>
                                            <div class="col-sm-9">
                                                <label type="text" aria-readonly="true" name="detallesReqIdUser"
                                                    id="detallesReqIdUser" class="form-control form-control-solid"
                                                    style="text-align:right;"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row mb-5">
                                            <label for="departmentUser" id="lblDepartmentUser"
                                                class="col-sm-3 col-form-label">Departamento:</label>
                                            <div class="col-sm-9">
                                                <label type="text" aria-readonly="true" id="departmentUser"
                                                    class="form-control form-control-solid"
                                                    style="text-align:right;"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tabla de detalles -->
                                <div class="card card-flush mt-6">
                                    <div class="card-body">
                                        <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3" 
                                            id="tblDetallesProd" style="width: 100%;">
                                            <thead>
                                                <tr class="fw-bold text-muted">
                                                    <th>Cod. Item</th>
                                                    <th>LineVendor</th>
                                                    <th>Descripción</th>
                                                    <th>Cantidad</th>
                                                    <th>Unidad Medida</th>
                                                    <th>Almacén</th>
                                                    <th>Total</th>
                                                    <th>Seleccionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                        <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3" 
                                            id="tblDetallesServ" style="width: 100%; display: none;">
                                            <thead>
                                                <tr class="fw-bold text-muted">
                                                    <th>Cod. Item</th>
                                                    <th>LineVendor</th>
                                                    <th>Descripción</th>
                                                    <th>Cantidad</th>
                                                    <th>Cuenta Mayor</th>
                                                    <th>Total</th>
                                                    <th>Seleccionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="d-flex justify-content-center gap-2">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function abrir_modal_cargar() {
        $('#modalCarga').modal('show');
    }

    $(function () {
        $('#SelectProveedor').select2({
            minimumResultsForSearch: Infinity,
            placeholder: function () {
                $(this).data('placeholder');
            },
        });
    });
</script>
{% endblock %}