{% extends 'base/base.html'%}
{% load static %}
{% block head_list %}
<script src="{% static 'VistaLogistica/js/list.js' %}"></script>
{% endblock head_list %}
{% block page_content %}
<style>
    .table-container {
        overflow-x: auto;
        width: 100%;
    }

    .table {
        min-width: 600px;
        /* Ajusta el ancho mínimo según tus necesidades */
    }

    .cardlo {
        --bs-card-bg:rgb(255, 255, 255);
    }
    .cardmodaltabla {
        --bs-card-bg:rgb(255, 255, 255);
    }
    .text-muteddet{
        color:rgb(2, 11, 32) !important;
    }
    .form-check .form-check-input {
        float: left;
        margin-left: 0.00rem;
    }
    .form-control.form-control-solid {
        background-color: var(--bs-gray-100);
        border-color: #1813133d;
        color: #484a50;
        transition: color .2s ease;
        font-weight: 500;
    }
    .col-form-label {
        font-size: 1.05rem;
        font-weight: 550;
        color: #000000;
    }
</style>
<form id="Solicitudes" method="post">
    <div class="card-body">
        <div class="row">
            <!--Columna izquierda: Formulario principal-->
            <div class="col-lg-7" style="padding-right: 1px; padding-left: 18px;">
                <div class="card cardlo card-primary">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card cardlo card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-boxes"></i>Solicitudes Contabilizadas:
                                    </h3>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="card cardlo card-body">
                        <table class="table table-row-bordered gy-6" id="tblContabilizados">
                            <thead>
                                <tr>
                                    <th style="width: 5%; text-align: center;">#</th>
                                    <th style="width: 5%; text-align: center;">Nro.</th>
                                    <th style="width: 20%; text-align: center;">Serie</th>
                                    <th style="width: 25%;">Solicitante</th>
                                    <th style="width: 20%;">Monto</th>
                                    <th style="width: 10%; text-align: center;">Seleccionar</th>
                                    <th style="width: 15%; text-align: center;">Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Columna derecha: Formularios de productos y servicios-->
            <div class="col-lg-5">
                <!-- Formulario de Productos-->
                <form id="FormularioProductos">
                    <div class="card cardlo card-secondary mb-4" style="border-right-width: 7px;">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-boxes"></i> Nueva Orden Productos:
                            </h3>
                        </div>
                        <div class="card cardlo card-body">
                            <div class="form-group row">
                                <div class="col-sm-5">Nombre del Solicitante: </div>
                                <div class="col-sm-7">
                                    <input type="text" readonly="true" class="form-control form-control-user"
                                        value="{{user.first_name}}" id="NombreSolicitanteProductos">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">Selección de Proveedor: </div>
                                <div class="col-sm-7">
                                    <select class="form-select form-select-solid" data-control="select2" name="SelectProveedor" id="SelectProveedorProductos"
                                        data-placeholder="Seleccione un Proveedor" required data-hide-search="true">
                                        <option></option>
                                        {% for socio in socio_negocio %}
                                        <option value="{{ socio.CardCode }}">{{ socio.CardName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <table class="table table-row-bordered gy-6" id="tblOrdenProd">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">Eliminar</th>
                                        <th style="width: 20%;">Cod. Item</th>
                                        {% comment %} <th style="width: 20%;">LineVendor</th> {% endcomment %}
                                        <th style="width: 20%;">Descripción</th>
                                        <th style="width: 15%;">Cantidad</th>
                                        <th style="width: 15%;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="card cardlo card-footer">
                            <button id="btnGuardarProductos" type="button" class="btn btn-success btn-flat">
                                <i class="fas fa-save"></i> Guardar registro
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Formulario de Servicios-->
                <form id="FormularioServicios" method="post">
                    <div class="card  cardlo card-secondary" style="border-right-width: 7px;">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-toolbox"></i> Nueva Orden Servicios:
                            </h3>
                        </div>
                        <div class="card cardlo card-body">
                            <div class="form-group row">
                                <div class="col-sm-5">Nro. Correlativo: </div>
                                <div class="col-sm-7">
                                    <input type="text" readonly="true" class="form-control form-control-user"
                                        value="1" id="nroCorrelativo" name="nroCorrelativo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">Nombre del Solicitante: </div>
                                <div class="col-sm-7">
                                    <input type="text" readonly="true" class="form-control form-control-user"
                                        value="{{user.first_name}}" id="NombreSolicitanteServicios">
                                </div>
                            </div>
                            <table class="table table-row-bordered gy-6" id="tblOrdenServ">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">Eliminar</th>
                                        <th style="width: 20%;">Cod. Item</th>
                                        {% comment %} <th style="width: 20%;">LineVendor</th> {% endcomment %}
                                        <th style="width: 20%;">Descripción</th>
                                        <th style="width: 15%;">Cantidad</th>
                                        <th style="width: 15%;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="card cardlo card-footer">
                            <button id="btnGuardarServicios" type="button" class="btn btn-success btn-flat">
                                <i class="fas fa-save"></i> Guardar registro
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modalDetallesContabilizados" tabindex="-1" role="dialog"
    aria-labelledby="modalDetallesLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width: 90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetallesLabel">Detalles de Solicitud: <span class="text"
                        id="idSolicitud"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
                <div class="card shadow-sm">
                    <div id="kt_card_detalle_solicitud" class="collapse show">
                        
                        <div class="card-body">
                            <div class="row g-5 g-xl-8">
                                <!-- Campo oculto -->
                                <input type="text" aria-readonly="true" id="InputDocEntry" class="form-control form-control-user" style="text-align:right;" hidden>
                        
                                <!-- Two Column Layout -->
                                <div class="row">
                                    <!-- Left Column -->
                                    <div class="col-md-6">
                                        <!-- First Section - Left -->
                                        <div class="mb-5">
                                            <div class="d-flex align-items-center mb-3" style="margin-top: 10px;">
                                                <label for="detallesDocNum" id="lblDetDocNum" class="col-form-label flex-shrink-0" style="width: 200px;">Número de Documento:</label>
                                                <label type="text" aria-readonly="true" id="detallesDocNum" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detalleSerie" class="col-form-label flex-shrink-0" style="width: 200px;">Serie:</label>
                                                <label type="text" aria-readonly="true" id="detalleSerie" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesDocType" id="lblDocType" class="col-form-label flex-shrink-0" style="width: 200px;">Tipo:</label>
                                                <label type="text" aria-readonly="true" id="detallesDocType" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesDocDate" id="lblDocDate" class="col-form-label flex-shrink-0" style="width: 200px;">Fecha del Documento:</label>
                                                <label type="text" aria-readonly="true" id="detallesDocDate" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3" >
                                                <label for="detallesDocDueDate" id="lblDueDate" class="col-form-label flex-shrink-0" style="width: 200px;">Fecha de vencimiento:</label>
                                                <label type="text" aria-readonly="true" id="detallesDocDueDate" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <!-- Right Column -->
                                    <div class="col-md-6">
                                        <!-- First Section - Right -->
                                        <div class="mb-5">
                                            <div class="d-flex align-items-center mb-3" style="margin-top: 10px;">
                                                <label for="detallesTaxCode" id="lblTaxCode" class="col-form-label flex-shrink-0" style="width: 200px;">Impuesto:</label>
                                                <label type="text" aria-readonly="true" id="detallesTaxCode" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesMoneda" id="lblMoneda" class="col-form-label flex-shrink-0" style="width: 200px;">Moneda:</label>
                                                <label type="text" aria-readonly="true" id="detallesMoneda" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesTotal" id="lblTotal" class="col-form-label flex-shrink-0" style="width: 200px;">Total:</label>
                                                <label type="text" aria-readonly="true" id="detallesTotal" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesTotalImp" id="lblTotalImp" class="col-form-label flex-shrink-0" style="width: 200px;">Total con impuestos:</label>
                                                <label type="text" aria-readonly="true" id="detallesTotalImp" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesDocStatus" id="lblDocStatus" class="col-form-label flex-shrink-0" style="width: 200px;">Estado de Documento:</label>
                                                <label type="text" aria-readonly="true" id="detallesDocStatus" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Usuario Solicitante Section -->
                                <h3 class="card-title align-items-start flex-column mb-5" style="margin-top: 14px;">
                                    <span class="card-label fw-bold text-dark">Usuario Solicitante</span>
                                </h3>
                        
                                <div class="row mb-5">
                                    <div class="col-sm-6 d-flex align-items-center">
                                        <label for="detallesReqIdUser" id="lblReqIdUser" class="col-form-label flex-shrink-0" style="width: 200px;">Usuario:</label>
                                        <label type="text" aria-readonly="true" id="detallesReqIdUser" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                    </div>
                                    <div class="col-sm-6 d-flex align-items-center">
                                        <label for="departmentUser" id="lblDepartmentUser" class="col-form-label flex-shrink-0" style="width: 200px;">Departamento:</label>
                                        <label type="text" aria-readonly="true" id="departmentUser" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                    </div>
                                </div>
                        
                                <!-- Tables Section -->
                                <div class="card cardmodaltabla card-flush mt-6">
                                    <div class="card-body" style="padding-top: 20px;padding-bottom: 1px;">
                                        <!-- Tabla de Productos -->
                                        <table class="table table-striped" id="tblDetallesProd" style="width: 100%;">
                                            <thead>
                                                <tr class="fw-bold text-muteddet">
                                                    <th>Cod. Item</th>
                                                    <th>LineVendor</th>
                                                    <th>Descripción</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th>Unidad Medida</th>
                                                    <th>Almacén</th>
                                                    <th>Total</th>
                                                    <th>Seleccionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                        
                                        <!-- Tabla de Servicios -->
                                        <table class="table table-striped" id="tblDetallesServ" style="width: 100%; display: none;">
                                            <thead>
                                                <tr class="fw-bold text-muteddet">
                                                    <th>Cod. Item</th>
                                                    <th>LineVendor</th>
                                                    <th>Descripción</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th style="text-align: center;">Cuenta Mayor</th>
                                                    <th style="text-align: center;">Total</th>
                                                    <th>Seleccionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="d-flex justify-content-center gap-2">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function abrir_modal_cargar() {
        $('#modalCarga').modal('show');
    }

    $(function () {
        $('#SelectProveedor').select2({
            minimumResultsForSearch: Infinity,
            placeholder: function () {
                $(this).data('placeholder');
            },
        });
    });
</script>
{% endblock %}