<div class="modal fade" id="modalDetallesSolicitud" tabindex="-1" role="dialog" aria-labelledby="modalDetallesSolicitudLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width: 90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetallesLabel">Detalles de Solicitud<span class="text"
                        id="idSolicitud"></span></h5>
                {% comment %} REEMPLAZO DE "X" {% endcomment %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
                <div class="card shadow-sm">
                    <div id="kt_card_detalle_solicitud" class="collapse show">


                        <div class="card-body">
                            <div class="row g-5 g-xl-8">
                                <!-- Campo oculto -->
                                <label type="text" aria-readonly="true" id="InputDocEntry" class="form-control form-control-user" style="text-align:right;" hidden></label>
                        
                                <!-- Two Column Layout -->
                                <div class="row">
                                    <!-- Left Column -->
                                    <div class="col-md-6">
                                        <!-- First Section - Left -->
                                        <div class="mb-5">
                                            <div class="d-flex align-items-center mb-3" style="margin-top: 10px;">
                                                <label for="detallesDocNum" id="lblDetDocNum" class="col-form-label flex-shrink-0" style="width: 200px;">Número de Documento:</label>
                                                <label type="text" aria-readonly="true" id="solicitud_DocNum" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detalleSerie" class="col-form-label flex-shrink-0" style="width: 200px;">Serie:</label>
                                                <label type="text" aria-readonly="true" id="solicitud_Serie" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesDocType" id="lblDocType" class="col-form-label flex-shrink-0" style="width: 200px;">Tipo:</label>
                                                <label type="text" aria-readonly="true" id="solicitud_DocType" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesDocDate" id="lblDocDate" class="col-form-label flex-shrink-0" style="width: 200px;">Fecha del Documento:</label>
                                                <label type="text" aria-readonly="true" id="solicitud_DocDate" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesDocDueDate" id="lblDueDate" class="col-form-label flex-shrink-0" style="width: 200px;">Fecha de vencimiento:</label>
                                                <label type="text" aria-readonly="true" id="solicitud_DocDueDate" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <!-- Right Column -->
                                    <div class="col-md-6">
                                        <!-- First Section - Right -->
                                        <div class="mb-5">
                                            <div class="d-flex align-items-center mb-3" style="margin-top: 10px;">
                                                <label for="detallesTaxCode" id="lblTaxCode" class="col-form-label flex-shrink-0" style="width: 200px;">Impuesto:</label>
                                                <label type="text" aria-readonly="true" id="solicitud_TaxCode" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesMoneda" id="lblMoneda" class="col-form-label flex-shrink-0" style="width: 200px;">Moneda:</label>
                                                <label type="text" aria-readonly="true" id="solicitud_Moneda" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesTotal" id="lblTotal" class="col-form-label flex-shrink-0" style="width: 200px;">Total:</label>
                                                <label type="text" aria-readonly="true" id="solicitud_Total" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesTotalImp" id="lblTotalImp" class="col-form-label flex-shrink-0" style="width: 200px;">Total con impuestos:</label>
                                                <label type="text" aria-readonly="true" id="solicitud_TotalImp" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <label for="detallesDocStatus" id="lblDocStatus" class="col-form-label flex-shrink-0" style="width: 200px;">Estado de Documento:</label>
                                                <label type="text" aria-readonly="true" id="solicitud_DocStatus" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Usuario Solicitante Section -->
                                <h3 class="card-title align-items-start flex-column mb-5" style="margin-top: 14px;">
                                    <span class="card-label fw-bold text-dark">Usuario Solicitante</span>
                                </h3>
                        
                                <div class="row mb-5">
                                    <div class="col-sm-6 d-flex align-items-center">
                                        <label for="detallesReqIdUser" id="lblReqIdUser" class="col-form-label flex-shrink-0" style="width: 200px;">Usuario:</label>
                                        <label type="text" aria-readonly="true" id="solicitud_ReqIdUser" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                    </div>
                                    <div class="col-sm-6 d-flex align-items-center">
                                        <label for="departmentUser" id="lblDepartmentUser" class="col-form-label flex-shrink-0" style="width: 200px;">Departamento:</label>
                                        <label type="text" aria-readonly="true" id="solicitud_Department" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                    </div>
                                </div>
                        
                                <!-- Tables Section -->
                                <div class="card cardmodaltabla card-flush mt-6">
                                    <div class="card-body" style="padding-top: 20px;padding-bottom: 1px;">
                                        <!-- Tabla de Productos -->
                                        <table class="table table-striped" id="tblDetallesSolicitudProd" style="width: 100%;">
                                            <thead>
                                                <tr class="fw-bold text-muteddet">
                                                    <th>Cod. Item</th>
                                                    <th>LineVendor</th>
                                                    <th>Descripción</th>
                                                    <th>Cantidad</th>
                                                    <th style="text-align: center;">Precio</th>
                                                    <th style="text-align: center;">Unidad Medida</th>
                                                    <th style="text-align: center;">Almacén</th>
                                                    <th style="text-align: center;">Total</th>
                                                    <th style="text-align: center;">Cantidad Restante</th>
                                                    <th style="text-align: center;">Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                        
                                        <!-- Tabla de Servicios -->
                                        <table class="table table-striped" id="tblDetallesSolicitudServ" style="width: 100%; display: none;">
                                            <thead>
                                                <tr class="fw-bold text-muteddet">
                                                    <th>Cod. Item</th>
                                                    <th>LineVendor</th>
                                                    <th>Descripción</th>
                                                    <th style="text-align: center;">Cantidad</th>
                                                    <th style="text-align: center;">Precio</th>
                                                    <th style="text-align: center;">Cuenta Mayor</th>
                                                    <th style="text-align: center;">Total</th>
                                                    <th style="text-align: center;">Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} <!-- Footer del Modal -->
                {% for group in request.user.groups.all %}
                {% if group.name != 'Jefe_de_Presupuestos' %}
                    <div class="modal-footer" style="padding-top: 5px;padding-bottom: 5px;">
                        <div class="d-flex justify-content-center gap-2">
                            {% if edition_permissions %}
                            <button type="button" id="btnAprobar" class="btn btn-success" onclick="aprobar()">Aprobar</button>
                            <button type="button" id="btnRechazar" class="btn btn-danger" onclick="rechazar()">Rechazar</button>
                            {% endif %}
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    {% else %}
                    <div class="modal-footer" style="padding-top: 5px;padding-bottom: 5px;">
                        <div class="d-flex justify-content-center gap-2">
                            {% if edition_permissions %}
                            <button type="button" id="btnContabilizar" class="btn btn-success" onclick="contabilizar()">Contabilizar</button>
                            <button type="button" id="btnRechazar" class="btn btn-danger" onclick="rechazar()">Rechazar</button>
                            {% endif %}
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %} {% endcomment %}
            </div>
        </div>

        <style>
            .cardmodaltabla {
                --bs-card-bg:rgb(255, 255, 255);
            }
            .text-muteddet{
                color:rgb(2, 11, 32) !important;
            }
            .fs-8 {
                font-size: 0.95rem !important;
            }
            .badge-info {
                color: var(--bs-info-inverse);
                background-color:  #939694;
            }
        </style>