{% extends 'base/base.html' %}

{% load static %}

{% block head_list %}
<script src="{% static 'users/js/list.js' %}"></script>
<style>
    .cardusu {
        --bs-card-bg:rgb(255, 255, 255);
    }
    /* Añade esto en la sección de <style> en el head */
        .form-control.select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px;
            padding-right: 2.5rem;
        }
        
        /* Para los select que usan Select2 */
        .select2-container--bootstrap4 .select2-selection--single {
            padding-right: 2.5rem !important;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px;
        }
</style>
{% endblock head_list %}

{% block page_content %}

<div class="card cardusu" style="border-left-width: 15px; border-right-width: 15px; border-radius: 1.625rem;">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <h3 class="card-title">
                <i class="fas fa-user-plus"></i> Crear Usuario
            </h3>
        </div>
    </div>
    <!--end::Card header-->

    <!-- Separador -->
    <hr style="border: 1px solid #ddd; margin: 20px 0;">

    <form id="Create" action="." method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <input type="hidden" name="action" value="add">

        <div class="card-body">
            <!-- Estructura de cuadrícula en dos columnas -->
            <div class="row">
                <!-- Columna izquierda -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Código SAP:</label>
                        <input type="text" name="SAP_Code" class="form-control form-control-solid" placeholder="Ingrese un Código SAP" id="idCodigoSAP"/>
                    </div>
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" name="username" class="form-control form-control-solid" placeholder="Ingrese el nombre de usuario" id="idUsername" required/>
                    </div>
                    <div class="form-group">
                        <label>Contraseña:</label>
                        <input type="password" name="password" class="form-control form-control-solid" placeholder="Ingrese la contraseña" id="idPassword" required/>
                    </div>
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" name="first_name" class="form-control form-control-solid" placeholder="Ingrese el nombre" id="idNombre" required/>
                    </div>
                    <div class="form-group">
                        <label>Apellido:</label>
                        <input type="text" name="last_name" class="form-control form-control-solid" placeholder="Ingrese el apellido" id="idApellido"/>
                    </div>
                </div>

                <!-- Columna derecha -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>E-mail:</label>
                        <input type="text" name="email" class="form-control form-control-solid" placeholder="Ingrese el correo electrónico" id="idEmail" required/>
                        <span class="form-text text-muted">Ingrese un correo válido</span>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Usuario:</label>
                        <select class="form-control form-control-solid select" name="UserType" data-placeholder="Ingrese el tipo de usuario" id="idTipoUsuario" required>
                            <option value=""></option>
                            <option value="171">Empleado</option>
                            <option value="12">Usuario</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Imagen:</label>
                        <input type="file" name="image" accept="image/*" id="idImage" class="form-control form-control-solid"/>
                    </div>
                    <div class="form-group">
                        <label>Grupos:</label>
                        {{ form.groups }}
                    </div>
                    <div class="form-group" name="departamento" id="departamento">
                        <label>Departamento:</label>
                        {{ form.departamento }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Botones de acción -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
            <a href="{% url 'user:userlist' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        // Inicialmente oculta el campo de departamento
        $('#departamento').hide();

        // Función para obtener el texto de la opción seleccionada
        function getSelectedOptionText(selectElement) {
            var selectedOption = $(selectElement).find('option:selected');
            return selectedOption.text(); // Obtiene el texto de la opción seleccionada
        }

        // Función para mostrar/ocultar el campo de departamento basado en la selección de grupos
        function toggleDepartamentoField() {
            var selectedText = getSelectedOptionText('#id-groups');
            console.log(selectedText);  // Para depuración
            if (selectedText === 'Jefe_De_Area') {
                $('#departamento').show();
            } else {
                $('#departamento').hide();
            }
        }

        // Llama a la función cuando la página carga
        toggleDepartamentoField();

        // Llama a la función cuando cambia el valor del campo 'groups'
        $('#id-groups').change(function() {
            toggleDepartamentoField();
        });

        // Configura select2 para el campo 'UserType'
        $('#idTipoUsuario').select2({
            placeholder: function () {
                return $(this).data('placeholder');
            }
        });
    });
</script>
{% endblock %}
