{% extends 'base/base.html' %}

{% load static %}

{% block page_content %}
<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <h3 class="card-title">
                <i class="fas fa-user-edit"></i> Editar Usuario
            </h3>
        </div>
    </div>
    <!--end::Card header-->

    <!-- Separador -->
    <hr style="border: 1px solid #ddd; margin: 20px 0;">

    <form id="Edit" action="." method="post" enctype="multipart/form-data" class="form" onsubmit="return validateForm()">
        {% csrf_token %}
        <input type="hidden" name="action" value="edit">

        <div class="card-body">
            <!-- Estructura de cuadrícula en dos columnas -->
            <div class="row">
                <!-- Columna izquierda -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="idSAP_Code">Código SAP:</label>
                        <input type="text" name="SAP_Code" class="form-control form-control-solid" placeholder="Ingrese un Código SAP" id="idCodigoSAP" value="{{ user.SAP_Code }}"/>
                        {% comment %} {{ form.SAP_Code }} {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label for="idUsername">Username:</label>
                        <input type="text" name="username" class="form-control form-control-solid" placeholder="Ingrese el nombre de usuario" id="idUsername" required value="{{ user.username }}"/>
                        {% comment %} {{ form.username }} {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label for="idPassword">Contraseña:</label>
                        <input type="password" name="password" class="form-control form-control-solid" placeholder="Ingrese la contraseña" id="idPassword" required value="{{ user.password }}"/>
                        {% comment %} {{ form.password }} {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label for="idFirst_name">Nombre:</label>
                        <input type="text" name="first_name" class="form-control form-control-solid" placeholder="Ingrese el nombre" id="idNombre" required value="{{ user.first_name }}"/>
                        {% comment %} {{ form.first_name }} {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label for="idLast_name">Apellido:</label>
                        <input type="text" name="last_name" class="form-control form-control-solid" placeholder="Ingrese el apellido" id="idApellido" value="{{ user.last_name }}"/>
                        {% comment %} {{ form.last_name }} {% endcomment %}
                    </div>
                </div>

                <!-- Columna derecha -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="idEmail">E-mail:</label>
                        <input type="text" name="email" class="form-control form-control-solid" placeholder="Ingrese el correo electrónico" id="idEmail" required value="{{ user.email }}"/>
                        {% comment %} {{ form.email }} {% endcomment %}
                        <span class="form-text text-muted">Ingrese un correo válido</span>
                    </div>
                    <div class="form-group">
                        <label for="idUserType">Tipo de Usuario:</label>
                        <select class="form-control form-control-solid select" name="UserType" data-placeholder="Ingrese el tipo de usuario" id="idTipoUsuario" required>
                            <option value="171" {% if user.UserType == 171 %}selected{% endif %}>Empleado</option>
                            <option value="12" {% if user.UserType == 12 %}selected{% endif %}>Usuario</option>
                        </select>
                        {% comment %} {{ form.UserType }} {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label for="idImage">Imagen:</label>
                        <input type="file" name="image" accept="image/*" id="idImage" class="form-control form-control-solid"/>
                        {% comment %} {{ form.image }} {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label for="idGroups">Grupos:</label>
                        {{ form.groups }}
                    </div>
                    <div class="form-group" name="departamento" id="departamento">
                        <label for="idDepartamento">Departamento:</label>
                        {{ form.departamento }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Botones de acción -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
            <a href="{% url 'user:userlist' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const departmentField = document.getElementById('id_departamento');
        const groupsField = document.getElementById('id-groups');
    
        function toggleDepartmentField() {
            let isJefeDeAreaSelected = Array.from(groupsField.options)
                .some(option => option.selected && option.text === 'Jefe_De_Area');
    
            departmentField.parentElement.style.display = isJefeDeAreaSelected ? 'block' : 'none';
            departmentField.required = isJefeDeAreaSelected;
        }
    
        // Ejecutar la función al cargar la página y al cambiar el grupo
        toggleDepartmentField();
        groupsField.addEventListener('change', toggleDepartmentField);
    });


    // Función de validación simplificada
    function validateForm() {
        var selectedGroups = $('#id_groups').val() || [];
        var isJefeDeArea = selectedGroups.indexOf('Jefe_De_Area') !== -1;
        
        if (isJefeDeArea) {
            var departamentoValue = $('#id_departamento').val();
            if (!departamentoValue) {
                alert("Debe seleccionar un departamento cuando el grupo es 'Jefe_De_Area'.");
                return false;
            }
        }
        
        return true;  // Si no es Jefe_De_Area o si tiene departamento seleccionado
    } 
</script>
{% endblock %}
