{% extends 'base/base.html' %}

{% load static %}
{% block head_list %}
<script src="{% static 'users/js/list.js' %}"></script>
<style>
    .cardusu {
        --bs-card-bg:rgb(255, 255, 255);
    }
    /* Añade esto en la sección de <style> en el head */
        .form-control.select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px;
            padding-right: 2.5rem;
        }
        
        /* Para los select que usan Select2 */
        .select2-container--bootstrap4 .select2-selection--single {
            padding-right: 2.5rem !important;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px;
        }
</style>
{% endblock head_list %}

{% block page_content %}
<div class="card cardusu" style="margin-left: 15px;margin-right: 15px;">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <h3 class="card-title">
                <i class="fas fa-user-edit"></i> Editar Usuario
            </h3>
        </div>
    </div>
    <!--end::Card header-->

    <!-- Separador -->
    <hr style="border: 1px solid #ddd; margin: 20px 0;">

    <form id="Edit" action="." method="post" enctype="multipart/form-data" class="form" onsubmit="return validateForm()">
        {% csrf_token %}
        <input type="hidden" name="action" value="edit">

        <div class="card-body">
            <!-- Estructura de cuadrícula en dos columnas -->
            <div class="row">
                <!-- Columna izquierda -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="idSAP_Code">Código SAP:</label>
                        <input type="text" name="SAP_Code" class="form-control form-control-solid" placeholder="Ingrese un Código SAP" id="idCodigoSAP" value="{{ user.SAP_Code }}"/>
                    </div>
                    <div class="form-group">
                        <label for="idUsername">Username:</label>
                        <input type="text" name="username" class="form-control form-control-solid" placeholder="Ingrese el nombre de usuario" id="idUsername" required value="{{ user.username }}"/>
                    </div>
                    <div class="form-group">
                        <label for="idPassword">Contraseña:</label>
                        <input type="password" name="password" class="form-control form-control-solid" placeholder="Ingrese la contraseña" id="idPassword" required value="{{ user.password }}"/>
                    </div>
                    <div class="form-group">
                        <label for="idFirst_name">Nombre:</label>
                        <input type="text" name="first_name" class="form-control form-control-solid" placeholder="Ingrese el nombre" id="idNombre" required value="{{ user.first_name }}"/>
                    </div>
                    <div class="form-group">
                        <label for="idLast_name">Apellido:</label>
                        <input type="text" name="last_name" class="form-control form-control-solid" placeholder="Ingrese el apellido" id="idApellido" value="{{ user.last_name }}"/>
                    </div>
                </div>

                <!-- Columna derecha -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="idEmail">E-mail:</label>
                        <input type="text" name="email" class="form-control form-control-solid" placeholder="Ingrese el correo electrónico" id="idEmail" required value="{{ user.email }}"/>
                        <span class="form-text text-muted">Ingrese un correo válido</span>
                    </div>
                    <div class="form-group">
                        <label for="idUserType">Tipo de Usuario:</label>
                        <select class="form-control form-control-solid select" name="UserType" data-placeholder="Ingrese el tipo de usuario" id="idTipoUsuario" required>
                            <option value="171" {% if user.UserType == 171 %}selected{% endif %}>Empleado</option>
                            <option value="12" {% if user.UserType == 12 %}selected{% endif %}>Usuario</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="idImage">Imagen:</label>
                        <input type="file" name="image" accept="image/*" id="idImage" class="form-control form-control-solid"/>
                    </div>
                    <div class="form-group">
                        <label for="idGroups">Grupos:</label>
                        {{ form.groups }}
                    </div>
                    <div class="form-group" name="departamento" id="departamento">
                        <label for="idDepartamento">Departamento:</label>
                        {{ form.departamento }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Botones de acción -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
            <a href="{% url 'user:userlist' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const departmentField = document.getElementById('id_departamento');
        const groupsField = document.getElementById('id-groups');
    
        function toggleDepartmentField() {
            let isJefeDeAreaSelected = Array.from(groupsField.options)
                .some(option => option.selected && option.text === 'Jefe_De_Area');
    
            departmentField.parentElement.style.display = isJefeDeAreaSelected ? 'block' : 'none';
            departmentField.required = isJefeDeAreaSelected;
        }
    
        // Ejecutar la función al cargar la página y al cambiar el grupo
        toggleDepartmentField();
        groupsField.addEventListener('change', toggleDepartmentField);
    });


    // Función de validación simplificada
    function validateForm() {
        var selectedGroups = $('#id_groups').val() || [];
        var isJefeDeArea = selectedGroups.indexOf('Jefe_De_Area') !== -1;
        
        if (isJefeDeArea) {
            var departamentoValue = $('#id_departamento').val();
            if (!departamentoValue) {
                alert("Debe seleccionar un departamento cuando el grupo es 'Jefe_De_Area'.");
                return false;
            }
        }
        
        return true;  // Si no es Jefe_De_Area o si tiene departamento seleccionado
    } 
</script>
{% endblock %}
