{% extends 'base/base.html' %}

{% load static %}
{% block head_list %}
    <script src="{% static 'users/js/list.js' %}"></script>
    <style>
        .cardusu {
            --bs-card-bg:rgb(255, 255, 255);
        }
    </style>
{% endblock head_list %}

{% block page_content %}
    <form id="Usuario" method="post">
        <div class="card-body" style="padding-left: 15px; padding-right: 15px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card cardusu card-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-boxes"></i> {{title}}
                            </h3>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="card cardusu card-secondary">
                <div class="card-body">
                    <!-- Tabla de usuarios con el estilo avanzado de DOM Positioning -->
                    <table id="tblUsers" class="table table-row-bordered gy-5">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-800 px-7">
                                <th>#</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                                <th>Código SAP</th>
                                <th>Username</th>
                                <th>Last_Login</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Tipo Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <!-- Botón de registro adaptado Metronic -->
            <a href="/users/create/" class="btn btn-primary btn-flat" style="margin-left: 23px; margin-top: 20px">
                <i class="fas fa-plus"></i> Nuevo Registro
            </a>
        </div>
    </form>

    <!-- Modal para confirmación de eliminación -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" id="deleteMessage">¿Eliminar registro?</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            
                            <button type="button" class="btn btn-danger" id="confirmDelete">Si, Eliminar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}