{% extends 'base/base.html'%}

{% load static %}
{% block head_list %}
    {{ block.super }}
    <script src="{% static 'SolicitudCompra/js/list.js' %}"></script>
    <script src="{% static 'OrdenCompra/js/list.js' %}"></script> <!-- Agrega tu archivo JS -->
    <style>
        .fw-bold {
            font-weight: 600 !important;
        }
        .cardli {
            --bs-card-bg:rgb(255, 255, 255);
        }
        .cardmodaltabla {
            --bs-card-bg:rgba(255, 255, 255, 0.59);
        }
        .text-muteddet{
            color:rgb(2, 11, 32) !important;
        }
        .form-control.form-control-solid {
            background-color: var(--bs-gray-100);
            border-color: #1813133d;
            color: #484a50;
            transition: color .2s ease;
            font-weight: 500;
        }
        .col-form-label {
            font-size: 1.05rem;
            font-weight: 550;
            color: #000000;
        }
    </style>
{% endblock head_list %}

{% block page_content %}
    <form id="OrdenCompra" method="post" style="padding-left: 15px;padding-right: 15px;">
        {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" name="action" value="searchdata"> {% endcomment %}
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card cardli card-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-boxes"></i> {{ title }}
                            </h3>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="card cardli card-secondary">
                <div class="card-body">
                    <!-- Tabla de órdenes de compra -->
                    <table id="tblOrdenCompra" class="table table-row-bordered gy-6">
                        <thead>
                            <tr class="fw-bold fs-5 text-gray-800 px-7">
                                {% comment %} <th style="text-align: center;">#</th> {% endcomment %}
                                <th style="text-align: center;">Num. Documento</th>
                                <th style="text-align: center;">Num. SAP</th>
                                <th style="text-align: center;">Solicitante</th>
                                <th style="text-align: center;">Tipo Documento</th>
                                <th style="text-align: center;">Moneda</th>
                                {% comment %} <th style="text-align: center;">Impuesto Adjunto</th> {% endcomment %}
                                <th style="text-align: center;">Fecha Aprobada</th>
                                <th style="text-align: center;">Estado</th>
                                {% comment %} <th style="text-align: center;">Total</th> {% endcomment %}
                                <th style="text-align: center;">Monto Total</th>
                                <th style="text-align: center;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal de Detalles -->
    <div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="modalDetallesLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" style="max-width: 90%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDetallesLabel">Detalles de Orden de Compra: <span class="text" id="idOrden"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="max-height: 80vh; overflow-y: auto;">
                    <div class="card shadow-sm">
                        <div id="kt_card_detalle_orden" class="collapse show">

                            
                            <div class="card-body">
                                <div class="row g-5 g-xl-8">
                                    <!-- Two Column Layout -->
                                    <div class="row">
                                        <!-- Left Column -->
                                        <div class="col-md-6">
                                            <div class="mb-5">
                                                <div class="d-flex align-items-center mb-3" style="margin-top: 10px;">
                                                    <label for="detallesDocNum" id="lblDetDocNum" class="col-form-label flex-shrink-0" style="width: 200px;">Número de Documento:</label>
                                                    <label type="text" aria-readonly="true" id="detallesDocNum" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                                </div>
                                                <div class="d-flex align-items-center mb-3">
                                                    <label for="detalleSerie" class="col-form-label flex-shrink-0" style="width: 200px;">Serie:</label>
                                                    <label type="text" aria-readonly="true" id="detalleSerie" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                                </div>
                                                <div class="d-flex align-items-center mb-3">
                                                    <label for="detallesProveedor" class="col-form-label flex-shrink-0" style="width: 200px;">Proveedor:</label>
                                                    <label type="text" aria-readonly="true" id="detallesProveedor" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                                </div>
                                                <div class="d-flex align-items-center mb-3">
                                                    <label for="detallesSolicitante" id="lblUser" class="col-form-label flex-shrink-0" style="width: 200px;">Usuario Solicitante:</label>
                                                    <label type="text" aria-readonly="true" id="detallesSolicitante" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                                </div>
                                                <div class="d-flex align-items-center mb-3">
                                                    <label for="detallesDocType" id="lblDocType" class="col-form-label flex-shrink-0" style="width: 200px;">Tipo:</label>
                                                    <label type="text" aria-readonly="true" id="detallesDocType" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <!-- Right Column -->
                                        <div class="col-md-6">
                                            <div class="mb-5">
                                                <div class="d-flex align-items-center mb-3" style="margin-top: 10px;">
                                                    <label for="detallesSystemDate" id="lblSystemDate" class="col-form-label flex-shrink-0" style="width: 200px;">Fecha Aprobada:</label>
                                                    <label type="text" aria-readonly="true" id="detallesSystemDate" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                                </div>
                                                <div class="d-flex align-items-center mb-3" >
                                                    <label for="detallesTaxCode" id="lblTaxCode" class="col-form-label flex-shrink-0" style="width: 200px;">Impuesto:</label>
                                                    <label type="text" aria-readonly="true" id="detallesTaxCode" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                                </div>
                                                
                                                <div class="d-flex align-items-center mb-3">
                                                    <label for="detallesMoneda" id="lblMoneda" class="col-form-label flex-shrink-0" style="width: 200px;">Moneda:</label>
                                                    <label type="text" aria-readonly="true" id="detallesMoneda" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                                </div>
                                                <div class="d-flex align-items-center mb-3">
                                                    <label for="detallesTotal" id="lblTotal" class="col-form-label flex-shrink-0" style="width: 200px;">Total:</label>
                                                    <label type="text" aria-readonly="true" id="detallesTotal" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                                </div>
                                                <div class="d-flex align-items-center mb-3">
                                                    <label for="detallesTotalImp" id="lblTotalImp" class="col-form-label flex-shrink-0" style="width: 200px;">Total con impuestos:</label>
                                                    <label type="text" aria-readonly="true" id="detallesTotalImp" class="form-control form-control-solid flex-grow-1 ms-3"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <!-- Solicitante y Lista de Solicitudes Section -->
                                    <div class="row g-5 g-xl-8" style="margin-top: 1px; min-height: 100%;">
                                        <!-- Lista de Solicitudes -->
                                        <div class="col-sm-6">
                                            <div class="card cardli card-xl-stretch h-100">
                                                <div class="card-header border-0">
                                                    <h3 class="card-title fw-bold text-gray-900">Lista de Solicitudes:</h3>
                                                </div>
                                                <div class="card-body pt-2" id="container-origins">
                                                    <!-- Aquí se inyecta la información de origen desde list.js -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Solicitante y Totales -->
                                        <div class="col-sm-6 d-flex">
                                            <div class="card cardmodaltabla card-flush w-100 my-auto">
                                                <div class="card-body" style="padding-left: 19px;padding-right: 16px;">
                                                    <table class="table table-striped" id="tblDetalles">
                                                        <thead>
                                                            <tr class="fw-bold text-muteddet">
                                                                <th>Cod. Item</th>
                                                                <th>Descripción</th>
                                                                <th style="text-align:center">Cantidad</th>
                                                                <th style="text-align:center">Precio</th>
                                                                <th style="text-align:center">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <div class="d-flex justify-content-center gap-2">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'Partials/_modal_detalles_solicitud.html' %}
</div>
{% endblock %}