<div class="modal-dialog modal-xl" style="max-width: 90%;" role="document">
    <div class="modal-content">
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Buscar Producto
                            </div>
                            
                            <div class="card-body" style="max-height: 80vh; overflow-y: auto;">
                                <div class="card card-secondary">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="form-group col-sm-12 mb-sm-3">
                                                <table class="table table-striped table-hover dt-responsive nowrap"
                                                    id="tblBuscarProd">
                                                    <thead>
                                                        <th>Código</th>
                                                        <th>Nombre</th>
                                                        <th>Precio Unitario</th>
                                                        <th>Agregar</th>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in Articulo %}
                                                        <tr>
                                                            <td>{{ item.ItemCode }}</td>
                                                            <td>{{ item.ItemName }}</td>
                                                            <td>{{ item.PriceUnit }}</td>
                                                            <td>
                                                                <button class="btn btn-warning btn-circle btn-select"
                                                                    id="btnSelect"
                                                                    onclick="seleccionarProducto('{{item.ItemCode}}','{{item.ItemName}}','{{item.PriceUnit}}', '{{item.idAlmacen}}', this)">
                                                                    <i class="fas fa-check"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="form-group col-sm-12 mb-sm-3">
                                                <table class="table table-bordered" id="tblProdSeleccionados"
                                                    display="table;" style="width: 100%;">
                                                    <thead>
                                                        <td style="width: 5%;">Código</td>
                                                        <td style="width: 20%;">Descripción</td>
                                                        <td style="width: 10%;">Precio</td>
                                                        <td style="width: 13%;">Almacén</td>
                                                        <td style="width: 8%;">Cantidad</td>
                                                        <td style="width: 12%;">Unidad</td>
                                                        <td style="width: 12%;">Dimensión</td>
                                                        <td style="width: 15%;">Proveedor</td>
                                                        <td style="width: 5%;">Eliminar</td>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group row">
                        <div class="col" style="text-align:right;">
                            <button class="btn btn-success" id="btnPrint" onclick="pintarProducto()">
                                <i class="fas fa-check"></i>
                                Seleccionar
                            </button>
                            <button type="button" id="btnCancelar" class="btn btn-danger">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block js_page %}
<script>


    function seleccionarProducto(codigo, descripcion, precio, idAlmacen, button) {
        button.classList.replace("btn-warning", "btn-success");

        context = {
            'codigo': codigo,
            'descripcion': descripcion,
            'precio': precio,
            'almacen': '',
            'cantidad': 1,
            'unidad': '',
            'dimension': '',
            'proveedor': '',
            'idAlmacen': idAlmacen
        }
        console.log(context);
        selectedPdct.add(context);
    }
    var tblSlctProducts;
    var selectedPdct = {
        items: {
            prod: []
        },
        add: function (item) {
            this.items.prod.push(item);
            this.list();
        },
        list: function () {
            tblSlctProducts = $('#tblProdSeleccionados').DataTable({
                bDestroy: true,
                responsive: true,
                autoWidth: false,
                destroy: true,
                deferRender: true,
                data: this.items.prod,
                columns: [
                    { "data": "codigo" },
                    { "data": "descripcion" },
                    { "data": "precio" },
                    { "data": "almacen" },
                    { "data": "cantidad" },
                    { "data": "unidad" },
                    { "data": "dimension" },
                    { "data": "proveedor" },
                    { "data": null },
                ],
                columnDefs: [
                    {
                        targets: [2],
                        render: function (data, type, row) {
                            return '<input type="number" data-type="priceSlt" class="form-control editable-input" data-type="precio" name="precioSlt" id="precioSlt" value="' + data + '">';
                        }
                    },
                    {
                        targets: [-3], // Campo dimensión
                        render: function (data, type, row) {
                            var dimensiones = JSON.parse('{{ dimension_json|escapejs }}');
                            var options = '<select class="form-control select" data-type="dimensionslt" name="idDimensionSlt" id="idDimensionSlt-' + 1 + '" style="width: 100%;">';
                            
                            // Si no hay un valor previo en 'data', seleccionamos "CEPRECE" por defecto
                            if (!data) {
                                data = "CEPRECE"; // Establecemos "CEPRECE" como valor por defecto
                            }
                    
                            // Construimos las opciones del select
                            for (var i = 0; i < dimensiones.length; i++) {
                                var selected = (dimensiones[i].descripcion === data) ? 'selected' : '';
                                options += '<option value="' + dimensiones[i].descripcion + '" ' + selected + '>' + dimensiones[i].descripcion + '</option>';
                            }
                            options += '</select>';
                            return options;
                        }
                    },
                    {
                        targets: [-4],
                        render: function (data, type, row) {
                            var medidas = JSON.parse('{{ medida_json|escapejs }}');
                            var options = '<select class="form-control select" data-type="medidaslt" name="idMedidaSlt" id="idMedidaSlt-' + 1 + '" style="width: 100%;">';
                            for (var i = 0; i < medidas.length; i++) {
                                var selected = (medidas[i].Code === data) ? 'selected' : '';
                                options += '<option value="' + medidas[i].Code + '" ' + selected + '>' + medidas[i].Code + '</option>';
                            }
                            options += '</select>';
                            return options;
                        },
                    },
                    {
                        targets: [-5],
                        render: function (data, type, row) {
                            return '<input type="number" data-type="cantSlt" min="1" value="' + data + '" class="form-control editable-input" name="cantTxtSlt" id="cantTxtSlt-' + 1 + '" required>';
                        },
                    },
                    {
                        targets: [-2],  // Campo proveedor
                        render: function (data, type, row) {
                            var socios_de_negocio = JSON.parse('{{ proveedor_json|escapejs }}');
                            var options = '<select class="form-control select" data-type="proveedorslt" name="idSocioNegociosSlt" id="idSocioNegociosSlt-' + 1 + '" style="width: 100%;">';
                            options += '<option value="">Seleccione proveedor (Opcional)</option>';
                            for (var i = 0; i < socios_de_negocio.length; i++) {
                                var selected = (socios_de_negocio[i].CardName === data) ? 'selected' : '';
                                options += '<option value="' + socios_de_negocio[i].CardName + '" ' + selected + '>' + socios_de_negocio[i].CardName + '</option>';
                            }
                            options += '</select>';
                            return options;
                        }
                    },
                    {
                        targets: [-6],
                        render: function (data, type, row) {
                            var almacenes = JSON.parse('{{ almacenes_json|escapejs }}');
                            var options = '<select class="form-control select" data-type="almacenslt" name="idAlmacenSlt" id="idAlmacenSlt-' + 1 + '" style="width: 100%;">';
                            if (row.idAlmacen != 'None'){
                                console.log(row.idAlmacen);
                                options += '<option value="' + row.idAlmacen + '" selected>' + row.idAlmacen + '</option>';
                            }   
                            for (var i = 0; i < almacenes.length; i++) {
                                var selected = (almacenes[i].WhsName === data) ? 'selected' : '';
                                options += '<option value="' + almacenes[i].WhsName + '" ' + selected + '>' + almacenes[i].WhsName + '</option>';
                            }
                            options += '</select>';
                            return options;
                        }
                    },
                    {
                        targets: [-1],
                        class: "text-center",
                        orderable: false,
                        render: function (data, type, row) {
                            return '<a rel="remove" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt"></i></a>';
                        },
                    },
                    // Editable cell definitions
                    {
                        targets: [-3],
                        class: "editable-cell",
                        orderable: false,
                        render: function (data, type, row) {
                            return data;
                        },
                        editField: "dimension",
                        editable: true,
                    },
                    {
                        targets: [-4],
                        class: "editable-cell",
                        orderable: false,
                        render: function (data, type, row) {
                            return data;
                        },
                        editField: "unidad",
                        editable: true,
                    },
                    {
                        targets: [-2],
                        class: "editable-cell",
                        orderable: false,
                        render: function (data, type, row) {
                            return data;
                        },
                        editField: "proveedor",
                        editable: true,
                    },
                    {
                        targets: [2],
                        class: "editable-cell",
                        orderable: false,
                        render: function (data, type, row) {
                            return data;
                        },
                        editField: "precio",
                        editable: true,
                    },
                    {
                        targets: [-5],
                        class: "editable-cell",
                        orderable: false,
                        render: function (data, type, row) {
                            return data;
                        },
                        editField: "cantidad",
                        editable: true,
                    },
                ],
                language: {
                    "sEmptyTable": "No hay datos disponibles en la tabla",
                    "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "sInfoFiltered": "(filtrado de _MAX_ entradas totales)",
                    "sLengthMenu": "",
                    "sLoadingRecords": "Cargando...",
                    "sProcessing": "Procesando...",
                    "sSearch": "Buscar:",
                    "sZeroRecords": "No se encontraron resultados",
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                initComplete: function (settings, json) {
                    $(function () {
                        $('#tblProdSeleccionados').find('select').each(function() {
                            var allowClear = $(this).attr('data-type') === 'proveedorslt'; // Permitir borrar solo para proveedor
                            $(this).select2({
                                allowClear: allowClear,
                                placeholder: "Selecciona una opción",
                                dropdownParent: $(this).closest('.modal-content')
                            });
                            if ($(this).data('select2')) {
                            } else {
                                console.error("Error al inicializar Select2 para:", this);
                            }
                        });
                    });
                },
                drawCallback: function (settings) {
                    $('#tblProdSeleccionados').find('select:not(.select2-hidden-accessible)').each(function () {
                        $(this).select2({
                            placeholder: "Selecciona una opción",
                            dropdownParent: $(this).closest('.modal-content')
                        });
                    });
                },
                rowCallback: function (row, data, index) {
                    $(row).find('select').each(function () {
                        $(this).attr('id', $(this).attr('id') + '-' + index);
                        $(this).select2();
                    });
                }
            });
        },
        remove: function (index) {
            this.items.prod.splice(index, 1);
            this.list();
        },
    }


    // Obtener el valor de TipoCambio
    var tipoCambio = parseFloat($("#tipoCambio").val());
    console.log("Valor de tipoCambio:", tipoCambio); // Depuración

    if (isNaN(tipoCambio) || tipoCambio <= 0) {
        console.error("El valor de TipoCambio no es válido:", tipoCambio);
        tipoCambio = 1; // Asignar un valor por defecto para evitar NaN
    }

    // Obtener la moneda seleccionada
    var monedaSeleccionada = $("#selecMoneda option:selected").text();
    console.log("Moneda seleccionada:", monedaSeleccionada); // Depuración

    // Ajustar los precios unitarios al cargar la tabla
    $('#tblBuscarProd tbody tr').each(function() {
        var precioUnitario = parseFloat($(this).find('td:eq(2)').text());
        if (!isNaN(precioUnitario)) {
            var precioAjustado = (precioUnitario / tipoCambio).toFixed(2);
            var precioConMoneda = agregarSimboloMoneda(precioAjustado, monedaSeleccionada);
            $(this).find('td:eq(2)').text(precioConMoneda);
        } else {
            console.error("El precio unitario no es válido:", precioUnitario);
        }
    });

    function agregarSimboloMoneda(precio, moneda) {
        switch (moneda) {
            case 'USD':
                return '$' + precio;
            case 'EUR':
                return '€' + precio;
            case 'SOL':
                return 'S/ ' + precio;
            default:
                return precio;
        }
    }

    $('#tblProdSeleccionados').on('change', '.editable-cell select', function () {
        var type = $(this).attr('data-type');
        var rowIndex = tblSlctProducts.cell($(this).closest('td')).index().row;
        var newValue = $(this).val();
        switch (type) {
            case 'almacenslt':
                selectedPdct.items.prod[rowIndex].almacen = newValue;
                break;
            case 'medidaslt':
                selectedPdct.items.prod[rowIndex].unidad = newValue;
                break;
            case 'proveedorslt':
                selectedPdct.items.prod[rowIndex].proveedor = newValue;
                break;
            case 'dimensionslt':
                selectedPdct.items.prod[rowIndex].dimension = newValue;
                break;
            default:
                break;
        }

    });

    $('#tblProdSeleccionados').on('change', '.editable-cell input[type="number"]', function () {
        var type = $(this).attr('data-type');
        console.log('Entra');
        var rowIndex = tblSlctProducts.cell($(this).closest('td')).index().row;
        var newValue = $(this).val();
        if (type === 'cantSlt') {
            console.log(newValue);
            selectedPdct.items.prod[rowIndex].cantidad = newValue;
        } else if (type === 'priceSlt') {
            console.log(newValue);
            selectedPdct.items.prod[rowIndex].precio = newValue;
        }
    });

    $('#tblProdSeleccionados')
        .on('click', 'a[rel="remove"]', function () {
            var tr = $(this).closest('tr');
            var index = tblSlctProducts.row(tr).index();
            var table = $('#tblBuscarProd').DataTable();
            var cont = 0;
            for (var i = 0; i < selectedPdct.items.prod.length; i++) {
                if (selectedPdct.items.prod[i].descripcion == selectedPdct.items.prod[index].descripcion) cont++;
            }
            console.log(cont);
            if (cont == 1 || cont == 0) {
                table.rows().every(function () {
                    var data = this.data(); // Obtén los datos de la fila de la tabla de búsqueda
                    var rowNode = this.node(); // Obtén el nodo de la fila
                    if (data[1] == selectedPdct.items.prod[index].descripcion) {
                        $(rowNode).find('button').removeClass('btn-success').addClass('btn-warning');
                    }
                });
                selectedPdct.remove(index);
            } else {
                selectedPdct.remove(index);
            }
        })

        $('#tblProdSeleccionados').on('input', 'input[type="number"][data-type="cantSlt"]', function () {
            var cantidad = $(this).val();
            var rowIndex = tblSlctProducts.cell($(this).closest('td')).index().row;  // Obtener el índice de la fila
            var row = selectedPdct.items.prod[rowIndex];  // Acceder al producto en la fila
        
            if (cantidad == 0) {
                // Muestra un mensaje de advertencia si la cantidad es 0
                $.alert({
                    title: 'Error',
                    theme: 'modern',
                    type: 'red',
                    content: `La cantidad no puede ser menor a 1 para el Producto: ${row.descripcion}`,
                });
        
                // Resetea el valor del input a 1
                $(this).val(1);
            }
        });

        $('#tblProdSeleccionados').on('input', 'input[type="number"][data-type="priceSlt"]', function () {
            var precio = parseFloat($(this).val()).toFixed(2);  // Convertir a float y asegurar 2 decimales
            var rowIndex = tblSlctProducts.cell($(this).closest('td')).index().row;  // Obtener el índice de la fila
            var row = selectedPdct.items.prod[rowIndex];  // Acceder al producto en la fila
    
            if (isNaN(precio) || precio == 0 || precio < 0.01) {
                // Muestra un mensaje de advertencia si el precio es 0, menor a 0.01 o no es un número válido
                $.alert({
                    title: 'Error',
                    theme: 'modern',
                    type: 'red',
                    content: `El precio no puede ser 0.00 o estar vacío para el Producto: ${row.descripcion}`,
                });
    
                // Resetea el valor del input a 0.01 o al valor previo
                $(this).val(0.01);
            }
        });
        
    $('#tblBuscarProd').DataTable({
        width: '100%',
        bDestroy: true,
        responsive: true,
        autoWidth: true,
        destroy: true,
        deferRender: true,
        pageLength : 5,
        "language": {
		    "lengthMenu": "Mostrar _MENU_",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
            "search": "Buscar:",
            "infoFiltered": "(filtrado de _MAX_ registros totales)"
	},
	"dom":
		"<'row mb-2'" +
		"<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
		"<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
		">" +

		"<'table-responsive'tr>" +

		"<'row'" +
		"<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
		"<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
		">"
    });

    //Articulos Seleccionados del modal
    function seleccionarProducto(codigo, descripcion, precio, idAlmacen, button) {
        button.classList.replace("btn-warning", "btn-success");
    
        var tipoCambio = parseFloat($("#tipoCambio").val());
        console.log("Valor de tipoCambio:", tipoCambio); // Depuración
    
        if (isNaN(tipoCambio) || tipoCambio <= 0) {
            console.error("El valor de TipoCambio no es válido:", tipoCambio);
            tipoCambio = 1; // Asignar un valor por defecto para evitar NaN
        }
    
        var precioNumerico = parseFloat(precio);
        if (isNaN(precioNumerico)) {
            console.error("El precio no es válido:", precio);
            precioNumerico = 0; // Asignar un valor por defecto para evitar NaN
        }
    
        var precioAjustado = (precioNumerico / tipoCambio).toFixed(2); // Ajustar precio al seleccionar
        console.log("Precio ajustado:", precioAjustado); // Depuración
    
        context = {
            'codigo': codigo,
            'descripcion': descripcion,
            'precio': precioAjustado, // Aseguramos que se pase el precio ajustado sin el símbolo de moneda
            'almacen': '',
            'cantidad': 1,
            'unidad': '',
            'dimension': '',
            'proveedor': '',
            'idAlmacen': idAlmacen
        };
        selectedPdct.add(context);
    }


    $(function () {
        $("#btnCancelar").click(function (e) {
            e.preventDefault();
            cerrar_modal();
        });
    });

    var productosParaGuardar = {
        items: []
    };

    function pintarProducto() {
        var camposValidos = true;
        $('#tblProdSeleccionados tbody tr').each(function () {
            var precio = $(this).find('input[name="precioSlt"]').val();
            if (!precio || parseFloat(precio) <= 0) {
                camposValidos = false;
                $.alert({
                    title: 'Error',
                    theme: 'modern',
                    type: 'red',
                    content: 'Todos los campos de precio deben estar rellenados y ser mayores a 0.00',
                });
                return false; // Salir del bucle si se encuentra un campo no válido
            }
        });

        if (camposValidos && selectedPdct.items.prod.length > 0) {
            $('#tblProdSeleccionados tbody tr').each(function () {
                var codigo = $(this).find('td:eq(0)').text().trim();
                var descripcion = $(this).find('td:eq(1)').text().trim();
                var precio = $(this).find('input[name="precioSlt"]').val();
                var almacen = $(this).find('select[name="idAlmacenSlt"]').val();
                var proveedor = $(this).find('select[name="idSocioNegociosSlt"]').val();
                var cantidad = $(this).find('input[name="cantTxtSlt"]').val();
                var unidad = $(this).find('select[name="idMedidaSlt"]').val();
                var dimension = $(this).find('select[name="idDimensionSlt"]').val();
                var precio_total = (parseFloat($(this).find('input[name="cantTxtSlt"]').val())) * (parseFloat($(this).find('input[name="precioSlt"]').val())).toFixed(2);
                // Construir el objeto de producto
                var producto = {
                    tipo: "Artículo",
                    code: codigo,
                    description: descripcion,
                    price: precio,
                    almacen: almacen,
                    proveedor: proveedor,
                    cant: cantidad,
                    medida: unidad,
                    precio_total: precio_total,
                    dimension: dimension,
                };
                console.log(producto);
                vents.add(producto);
            });
            vents.list();
            cerrar_modal();
        } else if (selectedPdct.items.prod.length === 0) {
            $.alert({
                title: 'Producto no seleccionado',
                icon: 'fa fa-exclamation',
                theme: 'material',
                type: 'orange',
                content: 'Por favor ingresa al menos un producto'
            });
        }
    }
</script>
{% endblock %}